.py-6{
    padding-top: 10rem;
}

.w-30{
    width: 30%;
}
.w-10{
    width: 10%;
}

.pb-4{
 padding-top: 4rem;
}

.mb-5{
    margin-top: 0%;
}

.ft-5{
    font-size: 1.5rem;
}

.fw-6{
  font-weight: 600px;
}

.fs-sm{
    font-size: .75rem;
}

.fs-7 {
    font-size: 12px !important;
}


